#pjWrapper .btn-primary { color: #fff; background-color: #1ec290; border-color: #1eaf84; }

#pjWrapper .btn-primary:active,
#pjWrapper .btn-primary:focus,
#pjWrapper .btn-primary:active:hover,
#pjWrapper .btn-primary:active:focus,
#pjWrapper .btn-primary:hover { color: #fff; background-color: #1eaf84; border-color: #1eaf84;}

#pjWrapper .panel-heading,
.pj-calendar-d,
#pjWrapper .tsServiceLink,
.pj-calendar-ym { color: #1ec290; }