@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.form-control,
body #pjWrapper { font-family: "Open Sans", arial,sans-serif; }

#pjWrapper .btn-primary { background-color: #378edb; border-color: #2e75b3; }

#pjWrapper .btn-primary:active,
#pjWrapper .btn-primary:focus,
#pjWrapper .btn-primary:active:hover,
#pjWrapper .btn-primary:active:focus,
#pjWrapper .btn-primary:hover { background: #2e75b3; border-color: #266297; }

.pj-calendar-booking-summary strong,
#pjWrapper .panel-heading,
.pj-calendar-d,
.pj-calendar-head p,
#pjWrapper .tsServiceLink,
.pj-calendar-ym { color: #56ae34; }